<div class="footer">

  <div class="footer-inner">
  	<p class="footer-left">
	  	<a class="footer-link" href="/terms">Terms of use</a>
  	</p>

  	<p class="footer-right">
	    Book by <a class="footer-link" target="_blank" href="http://www.haser.org">Alma</a> and <a class="footer-link" target="_blank" href="http://www.stanleyjamespress.com">Emily</a>, website by <a class="footer-link" target="_blank" href="https://joshemerson.co.uk">Josh</a>.
    </p>
  </div>

</div>
