<div class="footer">

  <p class="footer-inner">
    Book by <a class="footer-link" target="_blank" href="http://www.haser.org">Alma</a> and <a class="footer-link" target="_blank" href="http://www.stanleyjamespress.com">Emily</a>, website by <a class="footer-link" target="_blank" href="https://joshemerson.co.uk">Josh</a>.
  </p>

</div>
