<div class="header">

  <div class="header-nav">
    <a class="header-nav-link" href="#">The Project</a>
    <a class="header-nav-link" href="#">First Edition</a>
    <a class="header-nav-link" href="#">Back Us on Kickstarter</a>
  </div>

</div>
