<div class="header">

  <div class="header-nav">
    <a class="header-nav-link" href="http://www.haser.org/cosmicsurgery/" target="_blank">The Project</a>
    <a class="header-nav-link" href="http://www.stanleyjamespress.com/work/#/cosmic-surgery/" target="_blank">First Edition</a>
    <a class="header-nav-link" href="https://www.kickstarter.com/projects/1171937901/1085982572?token=d69cb1be" target="_blank">Back Us on Kickstarter</a>
  </div>

</div>
