<div class="header">

  <div class="header-nav">
    <a class="header-nav-link" href="/">Home</a>
    <a class="header-nav-link" href="/gallery">Gallery</a>
    <a class="header-nav-link" href="http://www.haser.org/cosmicsurgery/" target="_blank">The Project</a>
    <a class="header-nav-link" href="http://www.stanleyjamespress.com/work/#/cosmic-surgery/" target="_blank">First Edition</a>
    <a class="header-nav-link" href="http://www.haser.org/shop/ugdanry7zlax5ofs8x202gyd47kn1h" target="_blank">Buy The Book</a>
  </div>

</div>
