<div class="header">

  <div class="header-logo">
    <img src="/images/logo.png" alt="Cosmic Surgery">
  </div>

  <div class="header-nav">
    <a class="btn" href="#">The Project</a>
    <a class="btn" href="#">First Edition</a>
    <a class="btn" href="#">Back Us on Kickstarter</a>
  </div>

</div>
