<div class="share-buttons">
  <div class="share-title">Share</div>
  <div class="share-options">
    <a href="#" class="btn btn-share" data-share="twitter">Twitter</a>
    <a href="#" class="btn btn-share" data-share="facebook">Facebook</a>
    <a href="#" class="btn btn-share" data-share="download">Download</a>
  </div>
</div>
