<div class="start">
  <div class="start-image">
    <img class="start-image-logo" src="/images/logo.png" alt="Cosmic Surgery">
  </div>
  <div class="start-options">
    <div class="start-options-title">Start</div>
    <div id="not-supported" class="not-supported-message"></div>
    <noscript><p class="not-supported-message">This site requires JavaScript in order to work.</p></noscript>
    <a class="select-usermedia btn start-options-option">Use webcam</a>
    <span class="file-select">
      <label class="btn start-options-option" for="file">Choose a photo</label>
      <input id="file" type="file" class="select-image" accept="image/*">
    </span>
  </div>
</div>
