@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin arrow($side, $direction: down) {
  content: '';
  width: 10px;
  height: 32px;
  @if $direction == 'down' {
    background: url('/images/arrow-down.png');
    bottom: -32px;
  }
  @if $direction == 'up' {
    background: url('/images/arrow-up.png');
    top: 15px;
  }
  background-size: 10px;
  position: absolute;

  @if $side == 'left' {
    left: -4px;
  }

  @if $side == 'right' {
    right: -4px;
  }
}
