@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin arrow($side) {
  content: '';
  width: 10px;
  height: 32px;
  background: url('/images/arrow.png');
  background-size: 10px;
  position: absolute;
  bottom: -32px;

  @if $side == 'left' {
    left: -4px;
  }

  @if $side == 'right' {
    right: -4px;
  }
}
