html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

canvas {
  display: block;
  float: left;
  width: 320px;
  height: 240px;

  @media all and (min-width:1300px) {
    width: 640px;
    height: 480px;
  }
}

.video-src,
.img-src {
  display: none;
}

.canvas-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid grey;
  width: 320px;

  @media all and (min-width: 700px) {
    width: 640px;
  }

  @media all and (min-width: 1300px) {
    width: 1280px;
  }
}

.btn-download {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #333;
}

.source-select {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background: #fff;
  z-index: 10;
  text-align: center;

  .show-canvas & {
    display: none;
  }

  .file-select {
    input {
      display: none;
    }
  }

  .select-usermedia {
    opacity: 0.5;
    cursor: default;

    .supports-usermedia & {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #FFF;
  background: #3899C9;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: #52A1CE;
  }
}
