html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

.video-src,
.img-src {
  display: none;
}

.canvas-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid grey;

  .canvas-before,
  .canvas-after {
    float: left;
    width: 320px;
    height: 240px;
  }
  .canvas-before {
    display: none;
  }

  @media all and (min-width: 680px) {
    .canvas-before {
      display: block;
    }
  }

  @media all and (min-width:1320px) {
    .canvas-before,
    .canvas-after {
      width: 640px;
      height: 480px;
    }
  }

  .loading &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background: url(/images/loading.svg);
    z-index: 10;
  }
}

.wrap {
  width: 340px;
  margin: 0 auto;

  @media all and (min-width: 680px) {
    width: 660px;
  }

  @media all and (min-width: 1320px) {
    width: 1300px;
  }
}

.btn-download {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #333;
}

.source-select {
  text-align: center;

  .show-canvas & {
    display: none;
  }

  .file-select {
    input {
      display: none;
    }
  }

  .select-usermedia {
    opacity: 0.5;
    cursor: default;

    .supports-usermedia & {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #FFF;
  background: #3899C9;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: #52A1CE;
  }
}
