@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

.not-supported-message {
  text-align: center;
}

.video-src,
.img-src {
  display: none;
}

.canvas-area {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 9px;
  border: 1px solid grey;

  canvas {
    width: 100%;
    height: 100%;
  }

  .canvas-item {
    @include aspect-ratio(640, 480);
    width: 100%;

    &-before {
      display: none;
    }
  }


  @media all and (min-width: 680px) {
    .canvas-item {
      width: 50%;
      float: left;

      &-before {
        display: block;
      }
    }
  }

  .loading &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background: url(/images/loading.svg);
    z-index: 10;
  }

  .show-canvas & {
    display: block;
  }
}

.wrap {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;

  @media all and (min-width: 680px) {
    width: 95%;
    min-width: 660px;
  }
}

.share-area {
  display: none;
  text-align: center;

  .can-share & {
    display: block;
  }
}

.source-select {
  margin: 60px 0;
  text-align: center;

  .show-canvas & {
    margin: 20px 0 0;

    .introduction {
      display: none;
    }
  }

  .not-supported & {
    display: none;
  }

  .file-select {
    input {
      display: none;
    }
  }

  .select-usermedia {
    opacity: 0.5;
    cursor: default;

    .supports-usermedia & {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #FFF;
  background: #3899C9;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: #52A1CE;
  }
}
