<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cosmic Surgery</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#each meta}}
    <meta property="{{property}}" content="{{content}}" />
    {{/each}}
    <meta property="fb:app_id" content="1659003591054240" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
