<video class="video-src" autoplay></video>
<img class="img-src"/>

<div class="wrap">

  <noscript><p class="not-supported-message">This site requires JavaScript in order to work.</p></noscript>
  <div id="not-supported" class="not-supported-message"></div>

  <div class="source-select">
    <p class="introduction">To create your own cosmic surgery, choose a photo of yourself via your webcam or a photo.</p>
    <a class="btn select-usermedia">Use webcam</a>
    <span class="file-select">
      <label class="btn" for="file">Choose a photo</label>
      <input id="file" type="file" class="select-image" accept="image/*">
    </span>
  </div>

  <div class="canvas-area">
    <div class="canvas-item canvas-item-before">
      <div class="content">
        <canvas class="canvas-before"></canvas>
      </div>
    </div>
    <div class="canvas-item">
      <div class="content">
        <canvas class="canvas-after"></canvas>
      </div>
    </div>
  </div>

  <div class="share-area">
    <a href="#" class="btn btn-download" download="cosmicsurgery.png">Download</a>
    <a href="#" class="btn btn-share">Share</a>
  </div>

</div>

<div class="modal">
  <div class="modal-inner">
    <div class="kickstarter-message">
      <p>Now you've had your cosmic surgery, you should get the book!</p>
      <p><a target="_blank" class="btn" href="https://kickstarter.com/some-url">Back us on Kickstarter</a>
    </div>
    <div class="share-options">
      <p>
        <a href="#" class="btn btn-share-option" data-type="facebook">Share on Facebook</a>
        <a href="#" class="btn btn-share-option" data-type="twitter">Share on Twitter</a>
      </p>
    </div>
  </div>
</div>

<script src="/js/main.js"></script>
