<a href="#" id="btn-download" download="oragami.png">Download</a>
<video id="video" autoplay></video>
<div class="canvas-wrap">
  <canvas id="canvas-before"></canvas>
  <canvas id="canvas-after"></canvas>
</div>
<noscript>This site requires JavaScript in order to work.</noscript>
<script src="/js/main.js"></script>
