<video class="video-src" autoplay></video>
<img class="img-src"/>

<div class="wrap">
  <div id="stage">
    {{> stageStart}}
  </div>
</div>

<script>
window.csConfig = {
  count: {{count}}
}
</script>
<script src="/js/main.js"></script>
