<video class="video-src" autoplay></video>
<img class="img-src"/>
<img class="img-shadow" data-shadow="icosahedron" src="/images/shadow-icosahedron.png">
<img class="img-shadow" data-shadow="triangle" src="/images/shadow-triangle.png">

<div class="wrap">
  <div id="stage">
    {{> stageStart}}
  </div>
</div>

<script>
window.csConfig = {
  count: {{count}}
}
</script>
<script src="/js/main.js"></script>
