<h1>Terms of use</h1>
<p>By using the Cosmic Surgery website you agree to your photos being uploaded to the website. If you choose to share a photo on either Twitter or Facebook, you consent to these images also being shown on this website.</p>
<p><a href="/" class="btn">I agree, let me try it out!</a></p>