<div class="share-buttons">
  <div class="share-title">Share</div>
  <div class="share-options">
    <a href="#" class="btn" data-share="twitter">Twitter</a>
    <a href="#" class="btn" data-share="facebook">Facebook</a>
    <a href="{{downloadUrl}}" class="btn">Download</a>
    <a href="#" class="btn" data-retry>Retry</a>
  </div>
</div>
