.start {
  &-image {
    position: relative;
    background: url('/images/background.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;

    &-logo {
      position: relative;
      margin-top: 190px;
      width: 90%;
      max-width: 600px;
    }

    &-share {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 50%;
      margin-left: -200px;
    }
  }

  &-options {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;

    &-title {
      font-weight: bold;
      margin-bottom: 10px;

      @media all and (min-width: 600px) {
        position: relative;
        padding-bottom: 10px;
        margin: 0 auto 40px;
        border-bottom: 2px solid $color-main-dark;
        width: 50%;

        &:before {
          @include arrow(left);
        }
        &:after {
          @include arrow(right);
        }
      }
    }

    .btn {
      margin: 10px;

      @media all and (min-width: 600px) {
        width: 35%;
        margin: 10px 5%;
      }
    }
  }
}
