.surgery {
  &-row {
    padding: 15px 10px 5px;
    border-bottom: 10px solid $color-main-dark;
    overflow: hidden;
    position: relative;

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &-procedures {
    overflow: hidden;

    &-option {
      display: block;
      position: relative;
      padding-right: 50px;
      margin-bottom: 5px;

      img {
        position: absolute;
        top: 7px;
        right: 10px;
        width: 16px;
      }
    }

    @media all and (min-width: 600px) {
      position: absolute;
      top: 5px;
      right: 10px;

      &-option {
        float: left;
        margin-left: 20px;
      }
    }
  }


  &-share {
    border-top: 10px solid $color-main-dark;
  }
}
