<div class="complete">
  <p>Now you've had your cosmic surgery, you should get the book!</p>
  <p><a target="_blank" class="btn" href="https://kickstarter.com/some-url">Back us on Kickstarter</a>
  <p>
    <a href="#" class="btn btn-share-option" data-type="facebook">Share on Facebook</a>
    <a href="#" class="btn btn-share-option" data-type="twitter">Share on Twitter</a>
  </p>
</div>
