<div class="surgery">

  <div class="surgery-row">
    <div class="surgery-row-title">Patient {{count}}</div>
  </div>

  <div class="surgery-row surgery-row-invert">
    <div class="surgery-row-title">Choose surgery</div>
    <div class="surgery-procedures">
    {{#each procedures}}
      <a class="surgery-procedures-option {{#active}} active{{/active}}" href="#" data-procedure="{{name}}">
        {{label}}
        <img src="/images/procedure-{{name}}.png">
      </a>
    {{/each}}
    </div>
  </div>

  <div class="surgery-canvas canvas-area">
    <div class="canvas-access">
      <span class="canvas-access-text">Allow camera access to continue</span>
    </div>
    <div class="canvas-item canvas-item-before">
      <div class="canvas-item-inner">
        <div class="content">
          <canvas class="canvas-before"></canvas>
        </div>
      </div>
    </div>
    <div class="canvas-item">
      <div class="canvas-item-inner">
        <div class="content">
          <canvas class="canvas-after"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="surgery-share share">
  </div>

</div>
