html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $color-plain;
  background: $color-main-light;
  letter-spacing: 2px;
  font-size: 14px;
}

.wrap {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  border: 10px solid $color-main-dark;
  background: $color-plain;
  color: $color-main-dark;

  @media all and (min-width: 680px) {
    width: 95%;
    min-width: 660px;
  }
}

.upper {
  text-transform: uppercase;
}

.not-supported-message {
  text-align: center;
}

.video-src,
.img-src {
  display: none;
}

