html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $color-plain;
  background: $color-main-light;
  letter-spacing: 2px;
  font-size: 14px;
}

body {
  padding: 10px;
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
  border: 10px solid $color-main-dark;
  background: $color-plain;
  color: $color-main-dark;
}

.upper {
  text-transform: uppercase;
}

.not-supported-message {
  text-align: center;
}

.video-src,
.img-src,
.img-shadow {
  display: none;
}

