.btn {
  @include button($color-main-dark, $color-main-light, $color-main-dark);
}

.file-select {
  input {
    display: none;
  }
}

.select-usermedia {
  opacity: 0.5;
  cursor: default;

  .supports-usermedia & {
    opacity: 1;
    cursor: pointer;
  }
}
