.btn {
  display: inline-block;
  font-size: 14px;
  color: $color-main-dark;
  background: $color-main-light;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid $color-main-light;

  &:hover {
    border-color: $color-main-dark;
  }

  &.active {
    border-color: $color-main-dark;
  }
}

.file-select {
  input {
    display: none;
  }
}

.select-usermedia {
  opacity: 0.5;
  cursor: default;

  .supports-usermedia & {
    opacity: 1;
    cursor: pointer;
  }
}
