.btn {
  @include button($color-main-dark, $color-main-light, $color-main-dark);
}

.file-select {
  input {
    display: none;
  }
}

.select-usermedia {
  display: none;

  .supports-usermedia & {
    display: inline-block;
  }
}
