.canvas-area {
  position: relative;
  overflow: hidden;
  margin: 0;

  canvas {
    width: 100%;
    height: 100%;
  }

  .canvas-item {
    width: 100%;

    &-inner {
      margin: 20px;
      @include aspect-ratio(1, 1);
    }

    &-before {
      display: none;
    }
  }


  @media all and (min-width: 680px) {
    .canvas-item {
      width: 50%;
      float: left;

      &:first-child .canvas-item-inner {
        margin-right: 10px;
      }
      &:last-child .canvas-item-inner {
        margin-left: 10px;
      }

      &-before {
        display: block;
      }
    }
  }

  .loading &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background: url(/images/loading.svg);
    z-index: 10;
  }
}
