.footer {
  font-size: 10px;
  text-align: right;
  max-width: 900px;
  margin: 10px auto 0;
  letter-spacing: 0.1em;

  &-inner {
    padding: 10px 0;
    overflow: hidden;
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
    text-align: right;
  }

  &-link {
    color: $color-main-dark;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
