.header {
  overflow: hidden;
  max-width: 900px;
  margin: 10px auto 0;

  &-nav {
    text-align: center;
    background: $color-main-dark;
    padding: 10px;

    &-link {
      display: inline-block;
      text-transform: uppercase;
      border: 3px solid $color-main-dark;
      background: $color-main-dark;
      color: $color-main-light;
      padding: 5px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        border-color: $color-main-light;
      }

      @media all and (min-width: 700px) {
        padding: 5px 15px;
        margin: 0 10px;
      }
    }
  }
}
