.header {
  overflow: hidden;
  max-width: 900px;
  margin: 10px auto 0;

  &-nav {
    text-align: center;
    background: $color-main-dark;
    padding: 10px;

    &-link {
      @include button($color-main-light, $color-main-dark, $color-main-light);
      display: inline-block;
      text-transform: uppercase;

      @media all and (min-width: 700px) {
        padding: 5px 15px;
        margin: 0 10px;
      }
    }
  }
}
