.select-area {
  margin: 0;
  background: #F0F0F0;

  &-title {
    background: #DDD;
    margin: 0;
    padding: 10px;
    font-size: 12px;
  }

  &-options {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    list-style: none;
  }

  &-option {

  }
}

.file-select {
  input {
    display: none;
  }
}

.select-usermedia {
  opacity: 0.5;
  cursor: default;

  .supports-usermedia & {
    opacity: 1;
    cursor: pointer;
  }
}
