.share {
  overflow: hidden;
  position: relative;
  display: none;
  text-transform: uppercase;

  .can-share & {
    display: block;
  }

  &-title {
    font-weight: bold;
    padding: 10px 0;
  }

  &-capture {
    padding: 10px;
    text-align: center;

    .btn {
      min-width: 100%;
      box-sizing: border-box;
    }
  }

  &-buttons {
    padding: 10px;
  }

  &-wait {
    padding: 20px;
    font-weight: bold;
    text-align: center;
    background: $color-main-dark;
    color: $color-main-light;
  }

  @media all and (min-width: 680px) {
    &-options {
      position: absolute;
      right: 10px;
      top: 10px;

      .btn {
        min-width: 7em;
      }
    }
  }

  @media all and (min-width: 850px) {
    &-options {
      .btn {
        min-width: 9em;
        margin-left: 20px;
      }
    }
  }

  @media all and (min-width: 950px) {
    &-options {
      .btn {
        min-width: 11em;
      }
    }
  }
}

.kickstarter-message {
  display: none;

  .show-kickstarter-message & {
    display: block;
  }
}
